/* Icons next to text in top nav */
.top-toolbar .nav-item.nav-text>a>i {
    line-height: 2.5;
    top: 4px;
}

/* List items in main sidebar */
nav.main-menu ul.nav li>a {
    padding-left: 30px;
}
body.content-menu .content-wrapper .sidebar-left .sidebar-content nav.main-menu ul.nav li.sidebar-header:not(:first-of-type) {
    padding-top: 30px;
}

/* markdown page styling */
.card.page h2, h3, h4, h5, h6, p {
    margin-bottom: 15px;
}
.card.page h2:not(:first-child) {
    margin-top: 50px;
}
.card.page .alert {
    margin-top: 50px;
    margin-bottom: 50px;
}
